{% extends 'base.html' %}
{% block content %}
<h1>{{ lobby.host.username }} vs {{ lobby.player.username }}</h1>
<h2 id="HOST_LP"></h2>
<h2 id="PLAYER_LP"></h2>
<p>Remove LP from the host</p>

{% if user.id == lobby.host.id %}
<input type="button" id="remove-lp-from-player" value="Attack {{ lobby.player.username }}">
{% else %}
<input type="button" id="remove-lp-from-host" value="Attack {{ lobby.host.username }}">
{% endif %}

{% if user.id == lobby.host.id %}
<div>
    <p id="card-3"></p>
    <p id="card-4"></p>
    <p id="card-5"></p>
</div>
<div>
    <p id="card-0"></p>
    <p id="card-1"></p>
    <p id="card-2"></p>
</div>
{% else %}
<div>
    <p id="card-0"></p>
    <p id="card-1"></p>
    <p id="card-2"></p>
</div>
<div>
    <p id="card-3"></p>
    <p id="card-4"></p>
    <p id="card-5"></p>
</div>

{% endif %}
<div id="my-hand" style="display: flex;">

</div>




<!-- <input type="out"> -->
{% endblock content %}
{% block domready %}
<script type="text/javascript">

var web_socket_type = "wss://";
if (window.location.host == "127.0.0.1:8000")
{
    web_socket_type = "ws://";
};
var url = web_socket_type + window.location.host + '/ws/lobby/' + '{{ lobby.id }}/';
var chatSocket = new WebSocket(url);

var gameState = 0; /*
    0 - Host's Main Phase
    1 - Host's Battle Phase
    2 - Player's Main Phase
    3 - Player's Battle Phase
*/

var host_lp = 0; // temporary holder when grabbing the host's actual LP
var player_lp = 0;
var host_hand = null;
var player_hand = null;
var host_cards = null;
var player_cards = null;

var my_hand = document.querySelector('#my-hand');

var card_slot_0 = document.querySelector('#card-0');
var card_slot_1 = document.querySelector('#card-1');
var card_slot_2 = document.querySelector('#card-2');
var card_slot_3 = document.querySelector('#card-3');
var card_slot_4 = document.querySelector('#card-4');
var card_slot_5 = document.querySelector('#card-5');
var select_hand = null;
chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    if (data.initialization) {
        var actor = "host";
        if ("{{ lobby.host.id }}" !== "{{ user.id }}") { actor="player"}
        chatSocket.send(JSON.stringify({"action": "draw", "actor": actor, "value": 5, "gameState": 0}))
    }
    document.getElementById("HOST_LP").innerText = `{{ lobby.host.username }}'s LP: ${data._host_lp}`;
    document.getElementById("PLAYER_LP").innerText = `{{ lobby.player.username }}'s LP: ${data._player_lp}`;
    host_lp = data._host_lp; // when the user sends any request or joins a game, the temporary holder is initialized
    player_lp = data._player_lp;
    host_hand = data._host_cards_in_hand;
    host_deck = data._host_cards_in_deck;
    player_hand = data._player_cards_in_hand;
    player_deck = data.host_cards_in_deck;
    gameState = data.gameState;
    
    if (remove_hp_from_player != null){
        select_hand = host_hand;
        if (gameState == 0 || gameState == 1){
            remove_hp_from_player.disabled = false;
        }else if (gameState == 2 || gameState == 3){
            remove_hp_from_player.disabled = true;
        }
    }else {
        select_hand = player_hand;
        if (gameState == 0 || gameState == 1){
            remove_hp_from_host.disabled = true;
        }else if (gameState == 2 || gameState == 3){
            remove_hp_from_host.disabled = false ;
        }
    }
    if (select_hand) {
        my_hand.innerHTML = "";
        for(let i = 0; i < select_hand.length; i++) {
            if (select_hand[i] != null) {
                diiv = document.createElement("a")
                diiv.style.padding = "1em";
                diiv.innerHTML = `<div">
                    <h3>${select_hand[i]["name"]}</h3>
                    <p>Health: ${select_hand[i]["health"]}</p>
                    <p>Attack: ${select_hand[i]["attack"]}</p>
                    <p>Defense: ${select_hand[i]["defense"]}</p>
                    </div>`
                diiv.addEventListener("click", PlaceCard(i));
                my_hand.appendChild(diiv)
            }
        }
    }
    

}
function PlaceCard(identity) {
    return function() {
        console.log(identity);
    };
}
var remove_hp_from_host = document.querySelector("#remove-lp-from-host");
var remove_hp_from_player = document.querySelector("#remove-lp-from-player");


if ("{{ user.id }}" == "{{ lobby.player.id }}"){
remove_hp_from_host.addEventListener("click", function() {

    //send all the modification code and actual value to the consumer to be processed
    chatSocket.send(JSON.stringify({"action": "attack", "target": "host", "value": "50", "cur_value": `${host_lp}`, "gameState": 1, "my_lp": `${player_lp}`}))
})
}else if("{{ user.id }}" == "{{ lobby.host.id }}"){

remove_hp_from_player.addEventListener("click", function(){
    chatSocket.send(JSON.stringify({"action": "attack", "target": "player", "value": "50", "cur_value": `${player_lp}`, "gameState": 3, "my_lp": `${host_lp}`}))
})
}
</script>
{% endblock %}