{% extends 'base.html' %}
{% block content %}
<h1>{{ lobby.host.username }} vs {{ lobby.player.username }}</h1>
<h2 id="HOST_LP"></h2>
<h2 id="PLAYER_LP"></h2>
<p>Remove LP from the host</p>

{% if user.id == lobby.host.id %}
<input type="button" id="remove-lp-from-player" value="Attack {{ lobby.player.username }}">
{% else %}
<input type="button" id="remove-lp-from-host" value="Attack {{ lobby.host.username }}">
{% endif %}

{% if user.id == lobby.host.id %}
<div id="player-field" style="display: flex; background-color: rgb(209, 169, 169);">
</div>
<div id="host-field" style="display: flex; background-color: rgb(167, 181, 221);">
</div>
{% else %}
<div id="host-field" style="display: flex; background-color: rgb(209, 169, 169);">
</div>
<div id="player-field" style="display: flex; background-color: rgb(167, 181, 221);">
</div>

{% endif %}
<div id="my-hand" style="display: flex;">

</div>




<!-- <input type="out"> -->
{% endblock content %}
{% block domready %}
<script type="text/javascript">

var web_socket_type = "wss://";
if (window.location.host == "127.0.0.1:8000")
{
    web_socket_type = "ws://";
};
var url = web_socket_type + window.location.host + '/ws/lobby/' + '{{ lobby.id }}/';
var chatSocket = new WebSocket(url);

var gameState = 0; /*
    0 - Host's Main Phase
    1 - Host's Battle Phase
    2 - Player's Main Phase
    3 - Player's Battle Phase
*/

var host_lp = 0; // temporary holder when grabbing the host's actual LP
var player_lp = 0;
var host_hand = null;
var player_hand = null;
var host_cards = null;
var player_cards = null;

var my_hand = document.querySelector('#my-hand');
var host_html_field = document.querySelector("#host-field");
var player_html_field = document.querySelector("#player-field");

var card_slot_0 = document.querySelector('#card-0');
var card_slot_1 = document.querySelector('#card-1');
var card_slot_2 = document.querySelector('#card-2');
var card_slot_3 = document.querySelector('#card-3');
var card_slot_4 = document.querySelector('#card-4');
var card_slot_5 = document.querySelector('#card-5');
var select_hand = null;
var select_field = null;
chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    if (data.initialization) {
        var actor = "host";
        if ("{{ lobby.host.id }}" !== "{{ user.id }}") { actor="player"}
        chatSocket.send(JSON.stringify({"action": "draw", "actor": actor, "value": 5, "gameState": 0}))
    }
    document.getElementById("HOST_LP").innerText = `{{ lobby.host.username }}'s LP: ${data._host_lp}`;
    document.getElementById("PLAYER_LP").innerText = `{{ lobby.player.username }}'s LP: ${data._player_lp}`;
    host_lp = data._host_lp; // when the user sends any request or joins a game, the temporary holder is initialized
    player_lp = data._player_lp;
    host_hand = data._host_cards_in_hand;
    host_deck = data._host_cards_in_deck;
    host_field = data._host_cards_in_play;
    player_hand = data._player_cards_in_hand;
    player_deck = data.host_cards_in_deck;
    player_field = data._player_cards_in_play;
    gameState = data.gameState;
    
    if (remove_hp_from_player != null){
        select_hand = host_hand;
        if (gameState == 0 || gameState == 1){
            remove_hp_from_player.disabled = false;
        }else if (gameState == 2 || gameState == 3){
            remove_hp_from_player.disabled = true;
        }
    }else {
        select_hand = player_hand;
        if (gameState == 0 || gameState == 1){
            remove_hp_from_host.disabled = true;
        }else if (gameState == 2 || gameState == 3){
            remove_hp_from_host.disabled = false ;
        }
    }
    if (select_hand) {
        my_hand.innerHTML = "";
        for(let i = 0; i < select_hand.length; i++) {
            if (select_hand[i] != null) {
                diiv = document.createElement("a")
                diiv.style.padding = "1em";
                diiv.innerHTML = `<div">
                    <h3>${select_hand[i]["name"]}</h3>
                    <p>Health: ${select_hand[i]["health"]}</p>
                    <p>Attack: ${select_hand[i]["attack"]}</p>
                    <p>Defense: ${select_hand[i]["defense"]}</p>
                    </div>`
                diiv.addEventListener("click", PlaceCard(i));
                my_hand.appendChild(diiv)
            }
        }
    }
    if (host_field) {
        host_html_field.innerHTML = "";
        for(let i = 0; i < host_field.length; i++) {
            if (host_field[i] != null) {
                diiv = document.createElement("a")
                diiv.style.padding = "1em";
                diiv.innerHTML = `<div">
                    <h3>${host_field[i]["name"]}</h3>
                    <p>Health: ${host_field[i]["health"]}</p>
                    <p>Attack: ${host_field[i]["attack"]}</p>
                    <p>Defense: ${host_field[i]["defense"]}</p>
                    </div>`
                if ("{{ lobby.host.id }}" == "{{ user.id }}")  {
                    diiv.addEventListener("click", Attack(i, host_field[i]["attack"]));
                }
                host_html_field.appendChild(diiv)
            }
        }
    }
    if (player_field) {
        player_html_field.innerHTML = "";
        for(let i = 0; i < player_field.length; i++) {
            if (player_field[i] != null) {
                diiv = document.createElement("a")
                diiv.style.padding = "1em";
                diiv.innerHTML = `<div">
                    <h3>${player_field[i]["name"]}</h3>
                    <p>Health: ${player_field[i]["health"]}</p>
                    <p>Attack: ${player_field[i]["attack"]}</p>
                    <p>Defense: ${player_field[i]["defense"]}</p>
                    </div>`
                if ("{{ lobby.host.id }}" !== "{{ user.id }}")  {
                    diiv.addEventListener("click", Attack(i, player_field[i]["attack"]));
                }
                player_html_field.appendChild(diiv)
            }
        }
    }
    

}
function PlaceCard(identity) {
    return function() {
        var actor = "host";
        var state = 1;
        var expected_state = 0;
        var temp = `${host_lp}`;
        if ("{{ lobby.host.id }}" !== "{{ user.id }}") { actor="player"; state=3; expected_state = 2; temp = `${player_lp}`}
        if (gameState == expected_state) {
            chatSocket.send(JSON.stringify({"action": "playcard", "actor": actor, "position": identity, "gameState": state, "my_lp": temp}))
        }
    };
}
function Attack(identity, attack_power) {
    return function() {
        var actor = "host";
        var state = 2;
        var expected_state = 1;
        var default_target = "player";
        if ("{{ lobby.host.id }}" !== "{{ user.id }}") {
            actor="player";
            state=0;
            expected_state = 3;
            default_target = "host";
        }
        if (gameState == expected_state && default_target == "player") {
            if (player_field && player_field.length > 0) {
                let found_target = false;
                for (let i = 0; i < player_field.length; i++) {
                    console.log(player_field)
                    if (parseInt(player_field[i]['defense']) < attack_power) {
                        found_target = true;
                        chatSocket.send(JSON.stringify(
                            {
                                "action": "attack",
                                "target": i+3,
                                "value": attack_power,
                                "cur_value": `${parseInt(player_field[i]['health'])}`,
                                "gameState": state,
                                "my_lp": `${player_lp}`
                            }));
                        break;
                    }
                }
                if (!found_target) {
                    chatSocket.send(JSON.stringify({"gameState": state}));
                }
            }
            else {
                chatSocket.send(JSON.stringify(
                    {
                        "action": "attack",
                        "target": default_target,
                        "value": attack_power,
                        "cur_value": `${player_lp}`,
                        "gameState": state,
                        "my_lp": `${host_lp}`
                    }));
            }
        }
        if (gameState == expected_state && default_target == "host") {
            if (host_field && host_field.length > 0) {
                let found_target = false;
                for (let i = 0; i < host_field.length; i++) {
                    if (parseInt(host_field[i]['defense']) < attack_power) {
                        found_target = true;
                        chatSocket.send(JSON.stringify(
                            {
                                "action": "attack",
                                "target": i,
                                "value": attack_power,
                                "cur_value": `${parseInt(host_field[i]['health'])}`,
                                "gameState": state,
                                "my_lp": `${host_lp}`
                            }));
                    }
                }
                if (!found_target) {
                    chatSocket.send(JSON.stringify({"gameState": state}));
                }
            }
            else {
                chatSocket.send(JSON.stringify(
                    {
                        "action": "attack",
                        "target": default_target,
                        "value": attack_power,
                        "cur_value": `${host_lp}`,
                        "gameState": state,
                        "my_lp": `${player_lp}`
                    }));
            }
        }
    }
}
var remove_hp_from_host = document.querySelector("#remove-lp-from-host");
var remove_hp_from_player = document.querySelector("#remove-lp-from-player");


if ("{{ user.id }}" == "{{ lobby.player.id }}"){
remove_hp_from_host.addEventListener("click", function() {

    //send all the modification code and actual value to the consumer to be processed
    chatSocket.send(JSON.stringify({"action": "attack", "target": "host", "value": "50", "cur_value": `${host_lp}`, "gameState": 1, "my_lp": `${player_lp}`}))
})
}else if("{{ user.id }}" == "{{ lobby.host.id }}"){

remove_hp_from_player.addEventListener("click", function(){
    chatSocket.send(JSON.stringify({"action": "attack", "target": "player", "value": "50", "cur_value": `${player_lp}`, "gameState": 3, "my_lp": `${host_lp}`}))
})
}
</script>
{% endblock %}